:root {
    /* Fundo principal */
    --color-bg-primary: #1B2133;
    /* Fundo secundário */
    --color-bg-secondary: #222A40;
    /* Terciário, se precisar variar um pouco */
    --color-bg-tertiary: #33415A;

    /* Ciano vibrante para destaques, botões, links */
    --color-accent: #00FCF8;

    /* Texto padrão branco */
    --color-text: #F4F4F4;
}

/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body.scrolling--disabled {
    overflow: hidden;
}

a,
p,
span,
h1 {
    color: var(--color-text);
}

h1 {
    font-size: 22px;
}

a {
    font-weight: bold;
}

.text--accent,
.text--accent p,
.text--accent a {
    color: var(--color-accent);
}

.text--light {
    color: var(--color-text);
}

.bg--dark {
    background-color: var(--color-bg-primary);
}

.bg--second {
    background-color: var(--color-bg-secondary);
}

.page {
    min-height: calc(100vh - 246px);
}

.main__dashboard {
    height: 100vh;
    overflow: auto;
}

.container {
    /* margin: 0 auto; */
    padding: 25px;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
    text-align: justify;
}

.display--flex {
    display: flex;
}

.flex--between {
    display: flex;
    justify-content: space-between;
}

.item--center {
    display: flex;
    align-items: center;
}

.flex--center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex--column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex--gap--6 {
    display: flex;
    gap: 6px;
}

.gap--0 {
    gap: 0px;
}

.gap--15 {
    gap: 15px;
}

.gap--20 {
    gap: 20px;
}

.gap--30 {
    gap: 30px;
}

.f--14 {
    font-size: 14px;
}

.f--16 {
    font-size: 16px;
}

.f--18 {
    font-size: 18px;
}

.f--20 {
    font-size: 20px;
}

.f--22 {
    font-size: 22px;
}

.f--26 {
    font-size: 26px;
}

.t--bold {
    font-weight: bold;
}

/* Navbar */

.navbar {
    width: 260px;
    height: 100vh;
    border-radius: 0 25px 25px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar__content {
    height: 100%;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar__header {
    padding: 10px 30px;
}

.ion__icon {
    font-size: 2rem;
    color: var(--color-text);
    /* cursor: pointer; */
}

/* .navbar__nav {
    gap: 20px;
} */

.nav__item {
    padding: 10px 30px;
    margin-right: 15px;
    border-radius: 0 25px 25px 0px;
    transition: ease-in-out .3s;
}

.nav__link,
.ion__icon {
    transition: ease-in-out .3s;
}

.nav__item:hover,
.nav__item.active {
    background-color: var(--color-accent);
}

.nav__item:hover .nav__link,
.nav__item.active .nav__link,
.nav__item.active .ion__icon,
.nav__item:hover .ion__icon {
    color: var(--color-bg-secondary);
}

.user {
    padding: 10px 30px;
}

.user__avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

/* Main */

main {
    width: calc(100% - 260px);
}

.balance {
    /* border: 1px solid var(--color-accent); */
    background-color: var(--color-bg-secondary);
    padding: 20px 50px;
    border-radius: 15px;
    /* width: 600px; */
    height: 120px;
    /* margin: 0 auto; */
}

.balance__item {
    gap: 10px;
}

.balance__info {
    gap: 0;
}

.balance__value {}

.overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.overview__card {
    gap: 10px;
    height: 120px;
    border-radius: 15px;
}

.overview__card:nth-child(1) {
    background-color: #9747FFBF;
}

.overview__card:nth-child(2) {
    background-color: #00B359BF;
}

.overview__card:nth-child(3) {
    background-color: #C74C4CBF;
}

.overview__card:nth-child(4) {
    background-color: #E8D22DBF;
}

.overview__info {
    gap: 0px;
}

/* Wallet */

.wallet,
.credit-cards,
.expenses,
.income {
    background-color: var(--color-bg-secondary);
    padding: 20px 50px;
    border-radius: 15px;
    /* height: 120px; */
}

.wallet__item {
    flex: 1;
    /* height: 100px; */
}

/* .wallet__label {
    padding: 10px 0;
} */

.wallet__value {
    padding: 15px 0;
}

.wallet__icon,
.credit-cards__icon,
.expenses__icon,
.income__icon {
    width: 46px;
    height: 46px;
    background-color: #FFF;
    border-radius: 100%;
}

.wallet__icon img,
.credit-cards__icon img,
.expenses__icon img,
.income__icon img {
    width: 38px;
}


/* Credit Card */

.credit-cards {
    background-color: var(--color-bg-secondary);
}

.grid--table {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.credit-cards__header {
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
}

.credit-cards__row {
    background-color: var(--color-bg-secondary);
    padding: 10px 0;
    border-radius: 8px;
}

.credit-cards__desc {
    display: flex;
    align-items: center;
}

/* Expenses */

.expenses__header,
.expenses__row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.expenses {
    background-color: var(--color-bg-secondary);
}

.expenses__header {
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
}

.expenses__row {
    background-color: var(--color-bg-secondary);
    padding: 10px 0;
    border-radius: 8px;
}

.expenses__desc {
    display: flex;
    align-items: center;
}

/* Income (Receitas) */

.income {
    background-color: var(--color-bg-secondary);
}

.income__header,
.income__row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.income__header {
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
}

.income__row {
    background-color: var(--color-bg-secondary);
    padding: 10px 0;
    border-radius: 8px;
}

.income__desc {
    display: flex;
    align-items: center;
}